/* Reset and base styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh; /* Ensure body is at least as tall as the viewport */
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

/* summary */
.summary{
  margin-top: 20px;
}

/* Container styles */
.container,
header {
  max-width: 150ch; /* header inherits max-width from .container for consistency */
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

/* Tech info section styles */
.tech-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.basic,
.tech-stack {
  flex: 1;
  min-width: 300px;
  /* border: 1px solid #ccc; */
  padding: 10px;
}

/* Basic information styles */
.basic {
  padding-top: 1em;
  padding-bottom: 1em;
}

.basic > div {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.basic div span {
  padding-right: 0.5em;
}

.basic div i {
  font-weight: bold; /* Make font bold */
}

/* Tech stack and skills graph */
.tech-stack {
  flex: 1;
}

.skill-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-list li {
  padding: 5px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Creates two columns of equal width */
  gap: 20px; /* Space between grid items */
  padding: 1em; /* Padding around the entire grid */
}

.grid-container h3 {
  margin-bottom: 0.5em;
}

/* Additional styling for visual enhancement */
.grid-item {
  border: 1px solid #ccc;
  padding: 1em; /* Padding inside each grid item */
  border-radius: 5px; /* Optional: rounds the corners of the grid items */
}

.skill-list {
  list-style-type: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

/* .tech-stack > div{
  margin-top: 1em;
} */
.areas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Project experience styles */
.projects {
  margin-top: 20px;
}

.projects h2,
.projects div,
.projects li,
.projects h3 {
  margin-bottom: 1em;
}

.projects a {
  color: #007bff;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  margin-left: 10px;
}

.projects a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.projects hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px dashed #b6b7b9;
}

.highlight {
  font-family: monospace;
  background: aquamarine;
  padding: 3px;
  border-radius: 5px;
}

.subtitle {
  font-family: monospace;
  /* background: aquamarine; */
  padding: 3px;
  border-radius: 5px;
  font-size: 1.1em;
}

/* Summary section styles */
.summary {
  display: flex;
  flex-direction: column;
}

.summary p {
  display: flex;
  flex-wrap: wrap;
}

.project-container {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  flex-wrap: wrap;
  /* padding: 10px; */
}

.project-experience-one,
.project-experience-two,
.project-image{
  flex: 1;
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .basic > div,
  .basic > div p {
    margin-bottom: 0.5em; /* Reduce space between info items on small screens */
    margin-left: 0.3em; /* Reduce space between icon and text on small screens */
  }

  .tech-info,
  .project-container {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  
}
